<!DOCTYPE html>
<html>
<head>
  <title>Freeboard</title>
  <%= stylesheet_link_tag    "freeboard/application", media: "all" %>
  <%= javascript_include_tag "freeboard/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
